@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth theme transition */
html,
body,
#root {
  @apply transition-colors duration-300;
}

/* styles/global.css or your preferred CSS file */
html,
body,
#__next,
main {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
